@charset "utf-8";

/* SP TAB */
@media screen and (min-width:600px) and ( max-width:959px) {

}
/* PC */
@media screen and (min-width:960px) and ( max-width:1280px) {

}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.is-inner{
  width: 1100px;
  margin: 0 auto;
}

body{
  font-family: 'Lato', sans-serif;
}
/* bodyタグにLato付与 */

/* header */

.bolt_header{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 24;
}
/* padding付与 */

.bolt_icon{
  display: block;
  float: left;
}

.contact_btn{
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  text-decoration: none;
}

/* main */
/* psition削除 */

main{
  padding-top: 78px;
}

.bolt_main{
  width: 100%;
}

.bolt_main_contents_parent{
  background-color: #f2f2f2;
  width: 100%;
}

.bolt_contents{
  display: block;
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt_theme_text{
  box-sizing: border-box;
  text-align: center;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.bolt_bootstrap_text{
  text-align: center;
  color: #c0c0c0;
  font-size: 30px;
  margin: 0;
}

.bolt_can-do_parent{
  widows: 100%;
  background-color: #74cfae;
  text-align: center;
}

.can-do_contents{
  padding-top: 50px;
}

.bolt_iphone{
  float: left;
}

.can-do_text_parent{
  width: 650px;
  float: right;
}

.bolt_can-do_title{
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
  font-family: 'Raleway', sans-serif;
}
/* padding-bottomをmargin-bottomに変更 */

.bolt_can-do_text{
  text-align: center;
  font-size: 20px;
  color: #fff;
  /* display: block; */
}

.bolt_our-work_parent{
  background-color: #f2f2f2;
  display: block;
  position: relative;
  padding-top: 60px;
  padding-bottom: 70px;
  box-sizing: border-box;
}
/* padding-top,padding-bottom追加 */

.our-work_title{
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}
/*  padding-topを削除padding-bottomをmargin-bottomに変更 */


.work_picture_link{
  margin-left: 100px;
  margin-top: 80px;
  display: inline-block;
  float: left;
  opacity: 0.7;
  transition: all .3s;
}
 
.work_picture_link:nth-child(3n+1){
  margin-left: 0;
}

.work_picture_link:nth-child(-n+3){
  margin-top: 0;
}

.work_picture_link:hover{
  opacity: 1;
}

.our-work_text_parent{
  margin-top: 90px;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
}

.our-work_text{
  font-size: 20px;
  padding-right: 90px;
  display: inline-block;
}

.our-work_email{
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  display: inline-block;
  padding: 14px 20px;
  vertical-align: top;
  border: none;
  text-decoration: none;
  transition:  color .3s;
}

.our-work_email:hover{
  color: #333;
}

.bolt_our-skills{
  width: 100%;
  background-color: #4e4e4e;
}

.our-skills_title{
  font-size: 24px;
  margin-bottom: 70px;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.our-skills_parent{
  padding-top: 70px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.our-skills_picture_parent{
  margin: 0 auto;
  text-align: center;
}
/* 親要素にtext-align: center;を指定してfigure要素を中央揃え */

.skills_picture_parent{
  display: inline-block;
  margin-left: 180px;
}

.skills_picture_parent:first-child{
  margin-left: 0;
}

.our_skills_text{
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}

.bolt_sns-link{
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.sns-link_parent{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.is-icon{
  display: inline-block;
  color: #74cfae;
}

.sns_icon{
  display: block;
  width: 185px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all .3s;
}

.sns_icon:hover{
  background-color: #fff;
}
/* aタグにhover */

/* footer */

.bolt_footer{
  background-color: #74cfae;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
}
/* padding-top,padding-bottom付与 */

.footer_text{
  color: #fff;
  text-align: right;
}
/* padding-top,padding-bottom削除。float: right;をtext-align: right;に変更 */